@model IEnumerable<SydneyHotel.Models.Documentation>

@{
    ViewBag.Title = "Document";
}

<h1>Documentation</h1>

<div class="panel-group docs" id="accordion">
    @foreach (var doc in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@doc.ID">
                        @doc.Title
                    </a>
                </h4>
            </div>
            <div id="collapse-@doc.ID" class="panel-collapse collapse @(doc.ID == 2 ? "in" : "")">
                <div class="panel-body">
                    <img src="@doc.ImgURL.Trim('~')" alt="@doc.Title">

                    <p>
                        @Html.Raw(doc.Content)
                    </p>
                </div>
            </div>
        </div>

    }

</div>