@model SydneyHotel.Models.EventTime

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EventTime</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventTimeView)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventTimeView)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
