@model SydneyHotel.Models.Event

@{
    ViewBag.Title = "Details";

    IEnumerable<SydneyHotel.Models.EventRegister> organisers = ViewBag.Organisers;
    IEnumerable<SydneyHotel.Models.EventRegister> attendees = ViewBag.Attendees;
}

<div class="row">
    <div class="col-md-10">
        <h2>Details</h2>

    </div>
    <div class="col-md-2 btn-cover">

        @{
            if (ViewBag.EventRegister != null)
            {
                <p class="glyphicon glyphicon-ok create-event-btn">Attended</p>
            }
            else
            {


                <p class="btn btn-default create-event-btn">
                    @if (Session["ID"] != null)
                    {
                        <a href="/EventRegister/Attend/@Model.Id">Attend</a>

                    }
                    else
                    {
                        <a href="/Account/Login">Attend</a>
                    }
                </p>
            }
        }


    </div>
</div>

<div class="event-detail">
    <h4>Event</h4>
    <hr />
    <h2>@Model.ObjectName</h2>
    <p class="glyphicon glyphicon-calendar date"><span>@Model.StartDate</span></p>
    <p class="glyphicon glyphicon-time time"><span>@Model.EventTime.EventTimeView</span></p>

    <p>
        <span class="glyphicon glyphicon-user"></span>
        @{
            foreach (var organiser in organisers)
            {
                <span>@organiser.Account.FirstName</span>
                <span>@organiser.Account.LastName</span>

            }
        }

    </p>
    <p>@Model.Description</p>
</div>

<h4>Attendees</h4>

<div class="attendees">
    @foreach (var attendee in attendees)
    {
        <div class="attendee">
            <img src="~/Icons/user.png"/>
            <span>@attendee.Account.FirstName</span>
            <span>@attendee.Account.LastName</span>
        </div>
    }
</div>